.triangledownwards{
    width: 0;
    height: 0;
    border-style: solid;
    border-width:  15vh 100vw 0 0 ;
    border-color: #404EED transparent transparent transparent;
    
}

.triangleupwards{
    width: 0;
    height: 0;
    border-style: solid;
    border-width:  0 0 15vh 100vw;
    border-color: transparent transparent #404EED transparent;
    
}

.header{
    width: 100vw;
    height: 8vh;
}

.purple{
    color: #404EED;
}

.purpleBG{
    background-color: #404EED;
}

.panel{
    width: 100vw;
}

.headercontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.panelcontainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 5vh;
}

.panelcontainerVert{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.imgplaceholder{
    width: 30vw;
    height: 25vw;
    background-color: gray;
}

.bigtext{
    font-size: 3rem;
    font-family: "roboto", "open sans";
}

.smalltext{
    font-size: 1.25rem;
    font-family: "roboto", "open sans";
}

.textContainer{
    width: 40vw;
}

.white{
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

.joinbtn{
    background-color: #ffffff;
  border: none;
  padding: 0.5vw;
  font-size: 1rem;
  border-radius: 24px;  
  width: 16vw;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  margin: 10px;
}

.joinbtn:hover{
    background-color: #cfcece;

}

.center{
    margin: auto;
}