.login-container{
    width: 65vw;
    height: 60vh;
    background-color: #fff;
    top: 15vh;
    position: relative;
    margin: auto;
}

.login-img{
    width: 70%;
    height: 100%;
    background-color: #fff;
    position: relative;
    float: left;
}
.login-panel{
    width: 30%;
    height: 100%;
    background: rgb(52,97,162);
    background: linear-gradient(0deg, rgba(52,97,162,1) 0%, rgba(29,53,87,1) 77%);
    position: relative;
    float: right;
}

.login-input-box{
    margin-top: 240px;
    width: 80%;
    margin: 200px auto 0px;
}

.login-input{
    border: none;
    border-bottom: 1px solid #9ab0d1;
    font-size: 1rem;
    background: none;
    color: #e1f6fc;
    margin-bottom: 30px;
    width: 90%;
}

.login-input:focus {
    outline-width: 0;
}

.login-button{
    background-color: #e1f6fc;
    border-radius: 10px;
    border: none;
    width: 90px;
    height: 35px;
    float: right;
    font-size: 1.5rem;
}

.login-button:focus {
    outline-width: 0;
}

.login-reset-password{
    color: #e1f6fc;
    padding-top: 5px;
    float: left;
}